body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.jumbotron {
    background-color: #007bff;
    color: #fff;
    border-radius: 100px;
}

.img-fluid {
    max-width: 200px;
    height: auto;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* -------------------------------- */
